$latoFont: "Lato", sans-serif;
$robotoFont: "Roboto Mono", monospace;
$blue: #3c96ff;

* {
	box-sizing: border-box;
}

body {
	color: #fff;
	font-family: $latoFont;
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $robotoFont;
	line-height: 1.125em;
}

p {
	line-height: 32px;
}
