@import "../../node_modules/normalize.css/normalize.css";
@import "./hamburgers/hamburgers.scss";
@import "./hamburgers/_base.scss";
@import "./sass.scss";

* {
  box-sizing: border-box;
}

html,
body,
#__nuxt,
#__layout {
  min-height: 100%;
}

body {
  color: #fff;
  font-family: $latoFont;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $robotoFont;
  line-height: 1.125em;
}

p {
  line-height: 32px;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.fade-enter-active,
.fade-leave-active,
.page-enter-active,
.page-leave-active {
  transition: opacity 200ms ease-in-out;
}

.fade-enter,
.fade-leave-to,
.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-appear-down {
  opacity: 0;
  transform: translateY(-40px);
}

.fade-appear-up {
  opacity: 0;
  transform: translateY(40px);
}

.fade-appear-active {
  transition: all 600ms ease-in-out;
}
