@import "../../node_modules/normalize.css/normalize.css";
@import "./sass.scss";

* {
  box-sizing: border-box;
}

html,
body,
#__nuxt,
#__layout {
  min-height: 100%;
}

body {
  color: #fff;
  font-family: $latoFont;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $robotoFont;
  line-height: 1.125em;
}

p {
  line-height: 32px;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}
